

.markers--index.row
  - markers.each do |marker|
    .col-sm-2
      .Card
        - if marker.title_image
          = image_tag marker.title_image.image.url(:thumb)
        - else
          = image_missing_tag
        .flex-row
          .a= marker.destination&.name
          .a= button_to '~', edit_marker_path(marker), method: :get
          .a= button_to 'x', marker_path(marker), method: :delete, data: { confirm: 'Are you sure?' }
        .flex-row
          .a= link_to '[api]', api_marker_path(marker)
          .a= link_to '[this map]', edit_map_path(marker.destination) if marker.destination
