
.show-gameui-1
  %h5.collapse-expand#gameuiPositions
    Gameui Positions (#{@positions.length})
    = link_to '[+]', new_iro_position_path({ iro_purse_id: @purse.id })
  .gameui-positions{ data: { cc: { dollarWidth: 100, origin: @positions[1].strike } } }
    .gameuiCUSW
      .gameuiCUS= pp_currency @positions[0].strategy.current_underlying_strike
    - @positions.each_with_index do |p, idx|


      -# something like, $23 Apr-14
      .gameuiW.show-amounts{ data: { cc: { |
        strike: p.strike, |
        startPrice: p.opened_price, |
        currentPrice: p.current_price, |
        cus: p.strategy.current_underlying_strike |
      } } }
        - if idx > 0 && p[:expires_on] != @positions[idx-1][:expires_on]
          .step

        .gameui
          .gameuiC
            -# = link_to '[roll]', roll_iro_position_path(p)
            -# hello world

            .elephantW
              .amount
              .strike= p.strike
              .elephant
              .elephantC
                .q= p.quantity

            .windW
              .wind
                -# .c-u-s= pp_currency p.strategy.current_underlying_strike
                .windC


            .spearW
              .spear
                .spearC
                  .spearStart
                    .spearCurrent
  .c

