
- url = lead.persisted? ? lead_path( lead.id ) : leads_path

= form_for lead, :as => :lead, :url => url do |f|
  .input-field
    = f.label :email
    = f.text_field :email
  .input-field
    = f.label :job_url
    = f.text_field :job_url
  .input-field
    = f.label :company
    = f.text_field :company
  .input-field
    = f.label :description
    = f.text_area :description
  .field
    = f.check_box :is_done
    = f.label :is_done
  .field
    = f.check_box :is_trash
    = f.label :is_trash
  .actions{ :style => "margin-top: 1em;" }
    = f.submit
  
