
.manager-leads-index
  %h5
    #{link_to 'Leads', leads_path} (#{::Lead.all.count})
    = link_to raw("<i class='fa fa-plus-square'></i>"), new_lead_path

  = form_tag leads_bulkop_path do
    = label_tag 'Act on Selected:'
    = select_tag :a, options_for_select( %w| delete add_to_campaign | )
    = select_tag :email_campaign_id, options_for_select( @email_campaigns_list )
    = submit_tag 'Go'

    %table#dataTable.display.compact
      %thead
        %tr
          %th &nbsp;
          %th Name
          %th Company
          %th Email
          %th Tag
          %th created_at
          %th n campaign sends
          %th n single sends

      %tbody
        - @leads.each do |lead|
          %tr
            %td= check_box_tag 'lead_ids[]', lead.id
            %td= link_to lead.name, lead_path( lead )
            %td= lead.leadsets.map &:id
            %td= lead.email
            %td= lead.tag
            %td= lead.created_at.to_s[0..10]
            %td= lead.email_campaign_leads.count
            %td= @email_contexts[lead.email] || '-'


