
.email-conversations-index

  .header
    %i.material-icons mail
    Inbox (#{Office::EmailConversation.in_inbox.length})

  .actions

    %a.btn.delete-btn{ href: "javascript: void(0)", data: { url: '/api/email_conversations' } }
      %i.material-icons delete
    %a.btn.reload-btn{ href: "javascript: location.reload()" }
      %i.material-icons refresh

  %table.conversations
    %tr
      %th
        .chip.select-all
          = check_box_tag :select_all
          .n-selected -
      %th Msgs
      %th Leads
      %th Subject
      %th Datetime
      %th Tags

    - @email_conversations.each do |conv|
      %tr{ class: [ conv.state ] }
        .item
          %td= check_box_tag 'email_conversation_ids[]', conv.id.to_s, nil, { class: 'i-sel' }
          %td.count
            (#{conv.email_messages.count})

          %td.leads
            = conv.leads.map { |lead| lead.email }.join(", ")

          %td.subject
            = link_to conv.subject, email_conversation_path( conv )

          %td.datetime
            .date= conv.latest_at.strftime('%Y-%m-%d')
            .time= conv.latest_at.strftime('%l:%M%P')

          %td
            .tags
              - conv.tags.each do |tag|
                .chip
                  = tag.name

