
.email-conversations-index

  .subheader
    %i.material-icons mail

    - if params[:slug]
      slug: #{params[:slug]}
    - if params[:not_slug]
      not slug: #{params[:not_slug]}

    - @emailtags.each do |emailtag|
      .bordered.inline-block
        = link_to email_conversations_in_path(emailtag.slug) do
          #{emailtag.name} (#{Office::EmailConversation.in_emailtag(emailtag.slug).length})
        = link_to email_conversations_notin_path(emailtag.slug) do
          Not #{emailtag.name} (#{Office::EmailConversation.not_in_emailtag(emailtag.slug).length})


    .bordered.inline-block
      = form_for @new_tag, url: :create_email_tag, as: :tag do |f|
        %label New Tag:
        = f.text_field :name
        = f.submit '>'

    .bordered.inline-block
      = form_tag email_messages_path do
        %label Process Object Key:
        = text_field_tag 'msg[object_key]'
        = submit_tag '>'

  .search.Card
    .inline-block
      = form_tag email_conversations_path do
        %label Search from_email
        = text_field_tag :from_email, params[:from_email]
        -# = submit_tag '>'
        -# .inline-block
        -#   = form_tag email_conversations_path do
        %label by subject
        = text_field_tag :subject, params[:subject]
        = submit_tag '>'
  .c
  .actions

    %a.btn.archive-btn{ href: "javascript: void(0)", data: { url: "/api/email_conversations/rmtag/#{WpTag::INBOX}" } }
      %i.material-icons archive
      archive
    %a.btn.delete-btn{ href: "javascript: void(0)", data: { url: '/api/email_conversations' } }
      %i.material-icons delete
      delete
    %a.btn.reload-btn{ href: "javascript: location.reload()" }
      %i.material-icons refresh
      refresh

    .bordered.inline-block
      = select_tag :emailtag, options_for_select(@emailtags_list)
      = check_box_tag :is_move
      %label move?
      %a.btn.add-tag-btn{ href: "javascript: void(0)", data: { url: "/api/email_conversations/addtag" } }
        %i.material-icons add
        Addtag
      %a.btn.remove-tag-btn{ href: "javascript: void(0)", data: { url: "/api/email_conversations/rmtag" } }
        %i.material-icons remove
        Rmtag



  %br
  %br
  = render 'paginate',  resource: @email_conversations, param_name: :conv_page, views_prefix: :ish_manager

  %table.conversations.bordered.data-table
    %thead
      %tr
        %th
          .chip.select-all
            = check_box_tag :select_all
            .n-selected -
        %th Msgs
        %th From emails
        %th Subject
        %th Datetime

    - @email_conversations.each do |conv|
      %tr{ class: [ conv.state ] }
        .item
          %td= check_box_tag 'email_conversation_ids[]', conv.id.to_s, nil, { class: 'i-sel' }
          %td.count
            (#{conv.email_messages.length})

          %td.leads
            -# &lt;leads>
            = conv.from_emails.join(", ")

          %td.subject
            = link_to conv.subject, email_conversation_path( conv )

          %td
            .datetime
              .date= pp_date conv.latest_at
              .time= pp_time conv.latest_at


  %br
  = render 'paginate',  resource: @email_conversations, param_name: :conv_page, views_prefix: :ish_manager

