
.email-conversations-index

  .header
    %i.material-icons mail
    Inbox (#{Office::EmailConversation.all.length})


  .actions

    .select-all= check_box_tag :select_all
    .n-selected -
    %a.btn.delete-btn{ href: "javascript: void(0)", data: { url: '/api/email_conversations' } }
      %i.material-icons delete
    %a.btn.reload-btn{ href: "javascript: location.reload()" }
      %i.material-icons refresh



  .conversations
    - @email_conversations.each do |conv|
      .item
        = check_box_tag 'email_conversation_ids[]', conv.id.to_s, nil, { class: 'i-sel' }
        .count
          (#{conv.email_messages.count})
        .participants
          = conv.participants.join(", ")


        .subject
          = link_to conv.subject, email_conversation_path( conv )

        .datetime
          .date= conv.latest_date.strftime('%Y-%m-%d')
          .time= conv.latest_date.strftime('%l:%M%P')


