
.email-conversations-show

  .header.max-width
    -# %i.material-icons mail

    = link_to '[<<-]', email_conversations_path

    .subject #{@email_conversation.subject}
    (#{@email_conversation.email_messages.all.count})

  .tags.max-width
    Tags (#{@email_conversation.tags.length}):
    = @email_conversation.wp_term_ids
    = @email_conversation.tags.map(&:name).join(", ")

  .leads.max-width
    Leads (#{@email_conversation.leads.length}):
    = @email_conversation.leads.map(&:id)
    -# .leadsC= render 'ish_manager/leads/index_rows', leads: @email_conversation.leads

  .messages.max-width
    - @email_messages.each do |msg|
      - lead = msg.lead || Lead.new(email: 'NO LEAD!', id: 'no lead')

      .item
        .row-1
          .gray
            %ul
              %li
                = msg.id
                <b>To:</b> #{msg.to}
              %li
                <b>From:</b>
                -# #{msg.from}
                = lead.email
                %a.chip{ href: email_contexts_for_lead_path( lead ) }
                  \(
                  = lead.email_contexts.count
                  %i.fa.fa-envelope
                  \)
                .relative.inline-block
                  %i.fa.fa-clock-o.expand-next
                  .expand-hide= render 'ish_manager/scheduled_email_actions/form', scheduled_email_action: Sch.new({ lead_id: lead.id })

          .datetime
            .date= msg.date&.strftime('%Y-%m-%d')
            .time= msg.date&.strftime('%l:%M%P')

        .row-2

          - link_label = (ActionView::Base.full_sanitizer.sanitize( msg.part_html ).gsub(/\s+/, ' ') )[0..200]
          = link_to "Expand: #{link_label}", ishapi.email_message_path(msg, jwt_token: @jwt_token ), target: msg.message_id, class: 'preview'
          %iframe{ name: msg.message_id }

          .my-actions.hide
            = render 'ish_manager/email_contexts/form_reply', lead: lead
            -# = button_to 'Reply'
            -# = button_to 'Reply All'
            -# = button_to 'New Template'
            -# = button_to 'Schedule Reply'
            -# = render 'ish_manager/email_templates/form_schedule_mini'