
.email-conversations-show

  .header.max-width
    %i.material-icons mail
    Inbox (#{Office::EmailConversation.all.length})

    = link_to '[<<-]', email_conversations_path
    -# = link_to '[<-]', email_conversations_path
    #{@email_conversation.subject}
    (#{@email_conversation.email_messages.all.count})

  .leads.max-width
    Leads (#{@email_conversation.leads.length}):
    %ul
      - @email_conversation.leads.each do |p|
        %li
          = p
          = render 'ish_manager/email_templates/form_reply_mini'
          = render 'ish_manager/email_templates/form_schedule_mini'

  .messages.max-width
    - @email_messages.each do |m|
      - lead = m.lead || Lead.new(email: 'NO LEAD!', id: 'no lead')

      .item
        .row-1
          .gray= m.id

          .chip.from
            -# = m.from
            = lead.email

          .relative
            %a.chip{ href: email_contexts_for_lead_path( lead ) }
              \(
              = lead.email_contexts.count
              %i.fa.fa-envelope
              \)

          .relative
            %i.fa.fa-clock-o.expand-next
            = render 'ish_manager/scheduled_emails/form', scheduled_email: Sch.new({ lead_id: lead.id })

          .datetime
            .date= m.date&.strftime('%Y-%m-%d')
            .time= m.date&.strftime('%l:%M%P')
        .row-2
          %a.preview{ href: "javascript: void(0)", data: { id: m.id.to_s } }
            = (ActionView::Base.full_sanitizer.sanitize( m.part_html )||'<no-info>')[0..300]
          .expand
          .my-actions.hide
            = button_to 'Reply'
            = button_to 'Reply All'
            = button_to 'New Template'
            = button_to 'Schedule Reply'