
.email-conversations-show

  .header.max-width
    %i.material-icons mail
    Inbox (#{Office::EmailConversation.all.length})

    = link_to '[<<-]', email_conversations_path
    -# = link_to '[<-]', email_conversations_path
    #{@email_conversation.subject}
    (#{@email_conversation.email_messages.all.count})

  .leads.max-width
    Leads (#{@email_conversation.leads.length}):
    %ul
      - @email_conversation.leads.each do |p|
        %li
          = p.email
          [existing actions?]
          = render 'ish_manager/email_templates/form_reply_2_mini'
          = render 'ish_manager/scheduled_actions/form_mini'


  .messages.max-width
    - @email_messages.each do |msg|
      - lead = msg.lead || Lead.new(email: 'NO LEAD!', id: 'no lead')

      .item
        .row-1
          .gray= msg.id

          .chip.from
            -# = msg.from
            = lead.email

          .relative
            %a.chip{ href: email_contexts_for_lead_path( lead ) }
              \(
              = lead.email_contexts.count
              %i.fa.fa-envelope
              \)

          .relative
            %i.fa.fa-clock-o.expand-next
            = render 'ish_manager/scheduled_email_actions/form', scheduled_email_action: Sch.new({ lead_id: lead.id })

          .datetime
            .date= msg.date&.strftime('%Y-%m-%d')
            .time= msg.date&.strftime('%l:%M%P')

        .row-2

          - link_label = (ActionView::Base.full_sanitizer.sanitize( msg.part_html )||'<no-info>')[0..200]
          = link_to link_label, ishapi.email_message_path(msg, jwt_token: @jwt_token ), target: msg.message_id, class: 'preview'
          %iframe{ name: msg.message_id }

          .my-actions.hide
            = render 'ish_manager/email_templates/form_reply_2_mini'
            -# = button_to 'Reply'
            -# = button_to 'Reply All'
            -# = button_to 'New Template'
            -# = button_to 'Schedule Reply'
            -# = render 'ish_manager/email_templates/form_schedule_mini'