
= form_for venue do |f|
  .a
    = f.label :name
    = f.text_field :name

  .a
    = f.label :name_seo
    = f.text_field :name_seo
    
  .a
    = f.label :descr
    = f.text_area :descr, :class => [ :tinymce ]

  .a
    coords
    = f.text_field :x
    = f.text_field :y

  .a
    = f.label :city
    = f.select :city, options_for_select( @cities_list, :selected => venue.city_id )

  .b
    = f.submit
