
.products-index.max-width

  %h5
    Stripe Products (#{@stripe_products.length}):
    -# = link_to '[+]', new_product_path
  %ol
    - @stripe_products.each do |product_id, product|
      %li
        = link_to '[~]', edit_product_path( product.id )
        .inline-block= button_to '[x]', product_path( product.id ), :method => :delete, :data => { :confirm => 'Are you sure?' }
        %span.gray= product.id
        = product.name
        %ul
          - product[:prices].each do |price_id, price|
            %li
              %span.gray= price.id
              $#{price[:unit_amount].to_f/100}/#{(price[:recurring]||{})[:interval]||'onetime'}
              -# = price.inspect

  %hr

  %h5 New Product:
  = render 'ish_manager/products/form', product: Wco::Product.new

  %hr
  %h5 Wco::Product's (#{@products.length})
  %ul
    - @products.each do |product|
      %li
        = link_to '[~]', edit_product_path( product )
        #{product.name} // $#{product.price_cents.to_f/100}/#{product.interval.presence || 'onetime'}
        [ #{product.product_id}, #{product.price_id} ]
