
.manager-reports--index
  .row
    .large-12.columns
      %h2 Reports (#{reports.length})

      = paginate reports, :param_name => :reports_page
      %ol
        - reports.each do |report|
          %li
            = link_to '[~]', edit_manager_report_path( report )
            = link_to '[x]', manager_report_path( report ), :method => :delete, :data => { :confirm => 'Are you sure?' }
            = link_to report.name, manager_report_path( report )
            - if report.subhead && report.subhead.length > 3
              .subhead= report.subhead
      = paginate reports, :param_name => :reports_page
