
- reports ||= @reports
- reports = reports.page( params[:reports_page] ).per( 10 )
- if defined? site
  - new_path = new_site_report_path( site.id )
- else
  - new_path = new_report_path
  
.manager-reports--index
  .row
    .col-sm-12
      %h5
        Reports (#{reports.length})
        = link_to image_new, new_path

      = paginate reports, :param_name => :reports_page, :views_prefix => 'ish_manager'
      %ol
        - reports.each do |report|
          %li
            = link_to '[~]', edit_report_path( report )
            = link_to '[x]', report_path( report ), :method => :delete, :data => { :confirm => 'Are you sure?' }
            = link_to report.name, report_path( report )
            - if report.subhead && report.subhead.length > 3
              .subhead= report.subhead
      = paginate reports, :param_name => :reports_page, :views_prefix => 'ish_manager'

