
.row
  .large-12.columns
    %h3
      Reports Index (#{@reports.length})
      - if @site
        In #{@site.domain}/#{@site.lang}
      = link_to image_new, new_report_path
      
    = paginate @reports, :param_name => :reports_page, :views_prefix => 'ish_manager'
    
    - @reports.each do |report|
      .card
        .card-content
          = link_to '[~]', edit_report_path( report )
          = link_to '[x]', report_path( report ), :method => :delete, :data => { :confirm => 'Are you sure?' }
          - if report.is_public
            %i.material-icons visibility
          - else
            %i.material-icons visibility off
          = link_to report.name, report_path( report )
          %br
          .gray
            - if report.site
              Site #{report.site.domain}/#{report.site.lang}
            %br
            = report.created_at
    = paginate @reports, :param_name => :reports_page
    
