
- if option_watch.persisted?
  .float-left= button_to '[X]', option_watch_path(option_watch.id), method: :delete, data: { confirm: 'Are you sure?' }


- url = option_watches_path if !option_watch.persisted?
- url = option_watch_path( option_watch ) if option_watch.persisted?

= form_for option_watch, :url => url, :html => { :class => 'form-inline well' } do |f|
  .flex-row
    .form-group
      = f.label :action
      = f.select :action, options_for_select( Warbler::StockWatch::ACTIONS.map{|a|[a,a]}, :selected => option_watch.action )
    .form-group
      = f.label :profile
      = f.select :profile, options_for_select( [[nil,nil]]+@profiles.map{|p|[p.email,p.id]}, :selected => option_watch.profile ? option_watch.profile.id : nil )
    .form-group
      %label.control-label When
      = f.text_field :ticker, :class => 'form-control', :placeholder => 'ticker'
    .form-group
      %label.control-label Type
      = f.select :contractType, options_for_select( [['none',nil],['PUT', 'PUT'], ['CALL', 'CALL']], :selected => option_watch.contractType )
    .form-group
      %label.control-label On date
      = f.text_field :date, :class => 'form-control', :placeholder => 'date'
    .form-group
      %label.control-label Strike
      = f.number_field :strike, :step => 0.01, :placeholder => "0.01"
    .form-group
      %label.control-label Is
      = f.select :direction, options_for_select( Warbler::StockWatch::DIRECTIONS.map{|d|[d,d]}, :selected => option_watch.direction )
    .form-group
      %label.control-label Price
      = f.number_field :price, :step => 0.01, :placeholder => "0.01"
    .form-group
      = f.submit ">", :class => %w(btn blue)

