
- url = watch.new_record? ? iro_watches_path : iro_watch_path(watch)
.iro-watches--form
  = form_for watch, url: url, as: :iro_watch do |f|
    .flex-row
      .form-group
        = f.select :state, options_for_select( Iro::OptionWatch.states_list, selected: watch.state )
      .form-group
        = f.select :kind, options_for_select( Iro::OptionWatch.kinds_list, selected: watch.kind )
      .form-group
        -# = f.label :action
        = f.select :action, options_for_select( Iro::OptionWatch.actions_list, :selected => watch.action )
      .form-group
        -# = f.label :profile
        = f.select :profile, options_for_select( Ish::UserProfile.list, selected: watch.profile_id ), {}, class: 'select2'
      .form-group
        %label.control-label When
        = f.text_field :ticker, :placeholder => 'ticker'
      .form-group
        %label.control-label is
        = f.select :direction, options_for_select( Iro::OptionWatch.directions_list, selected: watch.direction )
      .form-group
        %label.control-label $
        = f.number_field :mark, :step => 0.01, :placeholder => "0.01"
      .form-group
        = f.submit ">", :class => %w(btn blue)