
.manager-cities--form
  = form_for @city, :html => { :multipart => true } do |f|
    .row
      .col-sm-6
        .field
          %label= t('cities.name')
          = f.text_field :name
        .field
          %label CityName
          = f.text_field :cityname
        .change-profile-pic
          %label Change profile pic
          = file_field_tag :photo
          = image_tag @city.profile_photo.photo.url(:thumb) rescue nil
        .field
          %label coords
          .row
            .col-xs-6
              = f.label :x
              = f.text_field :x
            .col-xs-6
              = f.label :y
              = f.text_field :y
      .col-sm-6
        .field
          = f.label :description
          = f.text_area :description, :class => [ :tinymce ]          

      .col-xs-12              
        .actions
          = f.submit
