
.manager-cities--form
  = form_for @city, :html => { :multipart => true } do |f|
    .row
      .col.s6
        .field
          %label= t('cities.name')
          = f.text_field :name
        .field
          %label CityName
          = f.text_field :cityname
        .change-profile-pic
          %label Change profile pic
          = file_field_tag :photo
          = image_tag @city.profile_photo.photo.url(:thumb) rescue nil
        .field
          %label coords
          .row
            .col.s6
              = f.label :x
              = f.text_field :x
            .col.s6
              = f.label :y
              = f.text_field :y
        .field
          = f.label :deleted_at
          = f.text_field :deleted_at     
        .field
          = f.check_box :is_active
          = f.label :is_active
      .col.s6
        .field
          = f.label :description
          = f.text_area :description, :class => [ :tinymce ]          

      .col.s12
        .actions
          = f.submit
