
.manager-events--index
  %h5
    Events (#{events.length}) #{link_to new_img, new_event_path}
    - if @resource
      in #{@resource.class.name} #{link_to @resource.name, resource_path( @resource )}
  %table
    %tr
      %th actions
      %th date
      %th city
      %th name
    - events.each do |event|
      %tr
        %td= link_to edit_img, edit_event_path( event )
        %td= event.date.to_s[0, 10]
        %td= link_to event.city.name, city_path( event.city )
        %td= event.name
