<html>
<head>
</head>
<body>
<h5>Notice</h5>
<p>The option <b><%= @option.ticker %> <%= @option.contractType %> <%= @option.date %> <%= @option.strike %></b>
  is trading <%= @option.direction %> <%= @option.price %> at <%= Time.now %>.</p>
</body>
</html>
