
%h5 Friends

.panel
  .panel-body
    = form_for @new_friend, :as => :friend, :url => friends_path do |f|
      = hidden_field_tag :authenticity_token, form_authenticity_token
      .row
        .col-sm-6
          = f.text_field :email, :placeholder => 'email'
        .col-sm-6
          = f.submit 'Add Friend'
          
- current_user.profile.friends.each do |friend|
  .panel
    .panel-body
      = friend.email
