
%h5 Friends

.panel
  .panel-body
    = form_for @new_friend, :as => :friend, :url => friends_path do |f|
      .row
        .col-sm-6
          = f.text_field :email, :placeholder => 'email'
        .col-sm-6
          = f.submit 'Add Friend'
          
- @friends.each do |friend|
  .panel
    .panel-body
      = friend.email
      .row
        .col-sm-6.description
          Galleries shared with them:
          %ul
            - friend.shared_galleries.each do |g|
              %li= g[:name]
