
- url = email_template.new_record? ? email_templates_path : email_template_path(email_template.id)

.email-templates--form
  = form_for email_template, url: url do |f|
    .row
      .col-md-4
        .field
          = f.label :slug
          = f.text_field :slug
      .col-md-4
        .field
          = f.label :layout
          = f.select :layout, options_for_select(Ish::EmailTemplate::LAYOUTS, selected: email_template.layout)
      .col-md-4
        .field
          = f.label "From"
          = f.select :from_email, options_for_select(Ish::EmailContext.from_email_list, selected: email_template.from_email)
    .field.field-subject
      = f.label :subject
      = f.text_field :subject
    .field
      -# = f.label :body
      = f.text_area :body, class: 'tinymce'
    .actions
      = f.submit 'Submit'