
- videos ||= @videos

.row.videos--index
  .col.s12
    %h5
      Videos (#{videos.count})
      = link_to '[+]', new_video_path
    %br

    = paginate videos, :param_name => :videos_page, :views_prefix => 'ish_manager'

    - videos.each do |video|
      .panel
        .panel-content
          .row
            .col.s6
              .float-left
                - if video.youtube_id.present?
                  -## doesn't work with private videos, which are most
                  -# .thumb-youtube= image_tag "https://img.youtube.com/vi/#{video.youtube_id}/1.jpg"
                  = render 'ish_manager/videos/embed_mini', video: video
                - else
                  .thumb= image_tag video.thumb.url(:thumb)
              .a
                = link_to video.name, video_path( video )
                .inline= button_to '[x]', video_path( video ), :method => :delete, :data => { :confirm => 'Are you sure?' }
                = link_to '[~]', edit_video_path( video )
              = render 'meta', :item => video
              .c

    = paginate videos, :param_name => :videos_page, :views_prefix => 'ish_manager'
%hr

