
-# videos ||= @videos
-# videos = videos.page params[:videos_page]

.row
  .col-sm-12
    %h5
      Videos (#{videos.count})
      = link_to image_new, new_video_path
    
    = paginate videos, :param_name => :videos_page, :views_prefix => 'ish_manager'
    
    - videos.each do |video|
      .panel
        .panel-content
          .row
            .col-xs-12
              .float-left= youtube_image_tag( video )
              .a
                = link_to video.name, video_path( video )
                = link_to image_edit, edit_video_path( video )
                .inline= button_to '[x]', video_path( video ), :method => :delete, :data => { :confirm => 'Are you sure?' }
                = render 'meta', :item => video
        
    = paginate videos, :param_name => :videos_page, :views_prefix => 'ish_manager'


