
- content_for :title do
  #{@video.name} | #{@site ? @site.title : ''}

.ish_manager-videos-show
  = link_to '[Back]', videos_path

  = render 'embed', :video => @video

  .row
    = image_tag @video.thumb.url(:thumb)
    .a
      .title
        = @video.name.blank? ? t('videos.no_title') : @video.name
      .flex-row
        = render 'meta_edit', item: @video
        = render 'ish_manager/application/meta', :item => @video
      .flex-row= link_to @video.video_file_name, @video.video.url

