
- if defined? city
  - edit_url   = -> (feature ) { edit_city_feature_path( city.id, feature.id ) }
  - delete_url = -> (feature ) { city_feature_path(      city.id, feature.id ) }
  - new_path   = new_city_feature_path( city.id )
- if defined? site
  - edit_url   = -> (feature) { edit_site_feature_path( site.id, feature.id ) }
  - delete_url = -> (feature) { site_feature_path(      site.id, feature.id ) }
  - new_path   = new_site_feature_path( site.id )
  
.manager-features--index
  %h3
    Features (#{features.length})
    = link_to image_new, new_path
    
  .row
    - features.each_with_index do |feature, idx|
      - if idx % 4 == 0
        .clearfix
      .col-sm-3
        .a
          = link_to '[~]', edit_url.call( feature )
          = button_to '[x]', delete_url.call( feature ), :method => :delete, :data => { :confirm => 'Are you sure?' }
          = render 'ish_manager/features/item', :feature => feature
  %hr
