
.panel
  - if !feature.partial_name.blank?
    = render feature.partial_name
  - else
    - unless feature[:name].blank?
      %h3= link_to feature[:name].titleize, feature[:link_path]
    - unless feature[:image_path].blank?
      = link_to image_tag( feature[:image_path] ), feature[:link_path]
    - unless feature[:subhead].blank?
      .descr= raw feature[:subhead]
    - unless feature.report.blank?
      %h3= link_to feature.report.name, report_path(feature.report.name_seo)
      .descr= raw feature.report.subhead
