

.application--main-header-admin.main-header{ class: "#{ENV['RAILS_ENV']} #{ENV['RAILS_ENV'][0...3]=="dev" ? "development" : ''}" }
  %i.fa.fa-compress.collapse-expand#collapseHeaderMain
    Piousbox Suite
    = link_to '[Current Issue]', '/'
    = link_to '[Dashboard]', '/manager'
  .container

    %i.fa.fa-compress.collapse-expand#collapseHeaderPiCMS
      PiousboxCMS
    .a
      %ul
        %li
          = render 'ish_manager/galleries/menu', count: Gallery.all.length
        %li
          = link_to 'Reports',   reports_path
          .inline-search
            = form_tag reports_path, method: :get do
              = text_field_tag :q
          = link_to '[+]', new_report_path
        %li
          = link_to "Videos (#{Video.all.length})", videos_path
          .inline-search
            = form_tag videos_path, method: :get do
              = text_field_tag :q
          = link_to '[+]', new_video_path
        %li= link_to 'Categories & Tags', categories_path
      %ul
        %li= link_to '+Newsitem', new_newsitem_path
        %li
          = link_to 'Profiles',  user_profiles_path
          .inline-search
            = form_tag user_profiles_path, method: :get do
              = text_field_tag :q

        %li
          = link_to "Locations (#{Location.all.length})", maps_path
          .inline-search
            = form_tag maps_path, method: :get do
              = text_field_tag :q
          = link_to '[+]', new_map_path

        %li
          = link_to 'Events', events_path
          .inline-search
            = form_tag events_path, method: :get do
              = text_field_tag :q
          = link_to '[+]', new_event_path
    .c

    %i.fa.fa-compress.collapse-expand#collapseHeaderOffice
      PiousboxCRM
    .a
      %ul
        %li

          = link_to "#{WpTag::INBOX} (#{Office::EmailConversation.in_emailtag(WpTag::INBOX).length})", email_conversations_in_path(WpTag::INBOX), class: 'chip'
          = link_to '[+]', new_email_context_path
        %li
          = link_to "Tmpls (#{Ish::EmailTemplate.all.length})", email_templates_path
          = link_to '[+]', new_email_template_path
        %li
          = link_to "Companies (#{Leadset.kept.length})", leadsets_path
          .inline-search
            = form_tag leadsets_path, method: :get do
              = text_field_tag :q
          = link_to '[+]', new_leadset_path
        %li
          = link_to "EActions (#{Office::EmailAction.all.length})", email_actions_path
          = link_to '[+]', new_email_action_path
      %ul
        %li
          = link_to "Filters (#{Office::EmailFilter.active.length})", email_filters_path
          = link_to '[+]', new_email_filter_path
        %li
          = link_to "Ctxs (#{Ctx.notsent.length})", email_contexts_path({ sent: false })
          = link_to '[+]', new_email_context_path
          %br
          = link_to 'summary', email_contexts_summary_path( format: :html )
          = link_to '[csv]', email_contexts_summary_path( format: :csv )

        %li
          = link_to "Leads (#{Lead.kept.length})", leads_path
          .inline-search
            = form_tag leads_path, method: :get do
              = text_field_tag :q
          = link_to '[+]', new_lead_path
        %li
          = link_to "Schs (#{Sch.active.length})", scheduled_email_actions_path
          = link_to '[+]', new_scheduled_email_action_path

      %ul
        %li
          = link_to 'Lead Actions', lead_actions_path
        %li
          = link_to 'Lead Action Templatess', lead_action_templates_path
          -# = link_to '[+]', new_lead_action_template_path
        %li
          = link_to "Campaigns (#{Ish::EmailCampaign.all.length})", email_campaigns_path
          = link_to '[+]', new_email_campaign_path
        %li
          = link_to "OActions (#{Office::Action.all.length})", office_actions_path
          = link_to '[+]', new_office_action_path

      %ul
        %li
          = link_to 'Products & Prices', products_path
        %li
          = link_to 'Subscriptions', subscriptions_path
          = link_to '[+]', new_wco_subscription_path

    .c

    %i.fa.fa-compress.collapse-expand#collapseHeaderWco
      Wasya Co Rb
    .a
      %ul
        %li
          = link_to 'ApplianceTmpl\'s', appliance_tmpls_path
        %li
          = link_to 'Appliance\'s', appliances_path
        %li
          = link_to 'Serverhost\'s', serverhosts_path
    .c



    %i.fa.fa-compress.collapse-expand#collapseHeaderIro
      Iro Wor
    .a
      %ul
        -# %li
        -#   = form_tag iro_watches_path, method: :get do
        -#     -# = select_get :ticker, options_for_select( @option_watches_list )
        -#     = link_to '[+]', new_iro_watch_path

        %li
          = link_to 'Watches', iro_watches_path
        %li
          = link_to 'Plots', 'http://localhost:3000/iron_warbler/NOPE-1', target: '_blank'
        %li
          = link_to 'Purses', iro_purses_path
          - Iro::Purse.all.map do |p|
            = "[#{p.id}"
            = link_to "show", iro_purse_path(p)
            = link_to "gui", iro_purse_path({ id: p.id, kind: 'show_gameui' })
            = "]"
          = link_to '[+]', new_iro_purse_path
    .c

