
#Config{ data: { jwt_token: @jwt_token } }

.manager--main-footer
  .max-width

    %i.fa.fa-compress.collapse-expand#mainFooter
      Account & Session
    .a
      .row
        .col-sm-6
          %ul
            %li <b>Email:</b> #{@current_profile.email}
            %li <b>Role name:</b> #{@current_profile.role_name}
            %li= link_to 'sidekiq', '/sidekiq', target: :_blank

        .col-sm-4
          %ul
            %li \~__^
            %li= @version
            %li= Time.now.to_s
            -# <pre>#{@changelog}</pre>

        .col-sm-2
          = button_to 'Logout', main_app.destroy_user_session_path, :method => :delete

    .c
    = render 'debug' if !Rails.env.production?
