
.application--main-header-guy.main-header{ class: "#{ENV['RAILS_ENV']} #{ENV['RAILS_ENV'][0...3]=="dev" ? "development" : ''}" }
  .container

    %i.fa.fa-compress.collapse-expand#collapseHeaderPiCMS
      PiousboxCMS
    %ul
      %li
        = link_to 'Photos', photos_path
        = link_to '[+]', new_photo_path
      %li
        = render 'ish_manager/galleries/menu'
      %li
        = link_to 'Reports',   reports_path
        .inline-search
          = form_tag reports_path, method: :get do
            = text_field_tag :q
        = link_to '[+]', new_report_path
      %li
        = link_to 'Videos',    videos_path
        .inline-search
          = form_tag videos_path, method: :get do
            = text_field_tag :q
        = link_to '[+]', new_video_path
    .c
  %hr