
.manager--main-footer
  .container

    %i.fa.fa-compress.collapse-expand#mainFooter
    .a
      .row
        .col-sm-6
          - if @current_user
            %ul
              %li <b>Email:</b> #{@current_user.email}
              %li <b>Role name:</b> #{@current_user.profile&.role_name}
          - else
            Please log in
            = link_to '[+]', main_app.new_user_session_path

        .col-sm-4
          \~__^
          = @version
          -# <pre>#{@changelog}</pre>

        .col-sm-2
          = button_to 'Logout', main_app.destroy_user_session_path, :method => :delete

    .c
    = render 'debug' if !Rails.env.production?
