
%ul
  %li= link_to 'Cities',    cities_path
  %li= link_to 'Events',    events_path
  %li= link_to 'Galleries', galleries_path
  %li= link_to 'Profiles',  user_profiles_path
  %li= link_to 'Reports',   reports_path
  %li= link_to 'Sites',     sites_path
  -# %li= link_to 'Tags',      tags_path
  %li= link_to 'Venues',    venues_path
  %li= link_to 'Videos',    videos_path
  
%hr

