
.meta
  <b>On</b> #{item.created_at.to_s[0...10]}
  - if item.city
    <b>In City:</b> #{link_to item.city.name, city_path( item.city )}
  - if item.tag
    <b>Tag:</b> #{link_to item.tag.name, tag_path( item.tag )}
  - if item.site
    <b>Site:</b>
    = link_to "#{item.site.domain}/#{item.site.lang}", site_path( item.site )
  - if item.venue
    <b>Venue:</b>
    = item.venue.inspect
  - if item.user_profile
    <b>By UserProfile:</b> #{item.user_profile.email}
    
