
.panel
  .panel-content
    - url ||= site_path(site)
    = form_for site, :url => url do |f|
      .row
        .col-lg-6
          = f.label :domain
          = f.text_field :domain, :disabled => true
        .col-lg-6
          = f.label :lang
          = f.text_field :lang, :disabled => true

      .row
        .col-lg-6
          = f.label :title
          = f.text_field :title
        .col-lg-6
          = f.label :subhead
          = f.text_area :subhead

      .row
        .col-lg-6
          = f.label :homepage_layout
          = f.select :homepage_layout, [ 'show' ]
        .col-lg-6
          = f.label :layout
          = f.select :layout, [ 'application' ]

      .row
        .col-lg-4
          = f.label :n_features
          = f.text_field :n_features
        .col-lg-4
          = f.label :n_newsitems
          = f.text_field :n_newsitems
          %br
          = f.label :newsitems_per_page
          = f.number_field :newsitems_per_page, :default => 10 
        .col-lg-4
          = f.check_box :is_trash
          = f.label :is_trash
          %br
          = f.check_box :is_private
          = f.label :is_private
          %br
          = f.check_box :is_ads_enabled
          = f.label :is_ads_enabled

      .row
        .col-lg-12
          = f.submit 'Submit', :class => :btn
      
