
.row
  .large-12.columns
    Edit site http://#{@site.domain}/#{@site.lang}
    %br
    %br
      
= render 'form', :site => @site
= render 'ish_manager/features/index',  :features  => @site.features.limit(@site.n_features),   :site => @site
= render 'ish_manager/newsitems/index', :newsitems => @site.newsitems.limit(@site.n_newsitems), :site => @site
