
- per_row = 2
.sites-index
  %h3 Sites
  .row
    - @site_groups.each_with_index do |sites, index|
      .col-xs-12{ :class => "col-sm-#{12/per_row}" }
        .panel.panel-primary
          .panel-body
            - sites.each do |site|
              %h5
                = link_to "#{site.domain}/#{site.lang}", site_path( site )
                = link_to '[~]', edit_site_path( site )
              (R#{site.reports.count}) (G#{site.galleries.count}) (V#{site.videos.count})
      - if (index + 1 ) % per_row == 0
        .clearfix
        
