
.manager-sites-show
  = render 'header', :site => @site    
  -# = render 'ish_manager/features/index', :features  => @features, :site => @site
  -# = render 'ish_manager/newsitems/index', :newsitems => @newsitems.limit(@site.n_newsitems), :site => @site
      
  .row
    .col-sm-6
      = render 'ish_manager/galleries/index_title', :galleries => @galleries
    .col-sm-6
      = render 'ish_manager/reports/index', :reports => @reports, :site => @site

  .row
    .col-sm-6
      = render 'ish_manager/videos/index_title', :videos => @videos
    .col-sm-6
      = render 'ish_manager/tags/index', :tags => @tags

