
.manager-sites-show
  = render 'title', :site => @site    
  = render 'ish_manager/features/index',  :features => @features, :site => @site
  = render 'ish_manager/newsitems/index', :newsitems => @newsitems, :site => @site
      
  .row
    .col-sm-6
      = render 'ish_manager/galleries/index', :galleries => @galleries
    .col-sm-6
      = render 'ish_manager/reports/index', :reports => @reports

  .row
    .col-sm-6
      = render 'ish_manager/videos/index', :videos => @videos
    .col-sm-6
      = render 'ish_manager/tags/index', :tags => @tags

