
-#
-# invoices / index.haml
-#

%h3
  Invoices
  = link_to '[+]', new_invoice_path

.row
  .col.s12.col.m6.col-md-offset-3
    = render 'form', :invoice => @new_invoice
%hr

%table#dataTable
  %thead
    %tr
      %th Email
      %th Number
      %th Amount
      %th Amount Paid
      %th Created At
  %tbody
    - @invoices.each do |i|
      %tr
        %td= i.email
        %td= i.number
        %td= i.amount
        %td= i.paid_amount
        %td= i.created_at.to_s[0..10]
