
.container.subscriptions-index.padded
  .row
    .col-md-6

      %h5 Stripe Customers
      %ul
        - @stripe_customers.each do |customer|
          %li
            %ul
              %li <b>Email:</b> #{customer.email}
              %li <b>customer_id:</b> #{customer.id}
              %li
                <b>Subscriptions:</b>
                %ul
                  - @stripe_subscriptions.each do |sub|
                    - if sub.customer == customer.id
                      %li= sub.items.data[0].plan.product

    .col-md-6
      %h5 ::User's
      %ul
        - @users.each do |user|
          %li
            = user.email
            %ul
              %li <b>profile:</b> #{user.profile.email}
              - if user.profile.organization
                %li <b>organization:</b> #{user.profile.organization.name}, customer_id: #{user.profile.organization.customer_id}
                %li <b>subscriptions:</b> #{user.profile.organization.subscriptions.inspect}
      %hr
      %h5 ::Wco::Organization's
      %ul
        - @organizations.each do |org|
          %li
            = org.name
            %ul
              %li <b>customer_id:</b> #{org.customer_id}
            -#   %li <b>organization:</b> #{user.profile.organization.name}, customer_id: #{user.profile.organization.customer_id}
            -#   %li <b>subscriptions:</b> #{user.profile.organization.subscriptions.inspect}

  %hr
  %h5 Stripe Subscriptions
  %ul
    - @stripe_subscriptions.each do |sub|
      %li
        %ul
          %li plan: $#{sub[:plan][:amount].to_f/100}/#{sub[:plan][:interval]}
          %li product: #{sub[:plan][:product]}
          %li customer: #{sub[:customer]}
          -# %li= sub.inspect

