
- url = leadset.persisted? ? leadset_path( leadset.id ) : leadsets_path

= form_for leadset, :as => :leadset, :url => url do |f|

  .input-field
    = f.label :company_url
    = f.text_field :company_url
  .input-field
    = f.label :name
    = f.text_field :name
  .input-field
    = f.label :tag
    = f.text_field :tag
  -# .input-field
  -#   = f.label :location
  -#   = f.text_field :location
  .actions{ :style => "margin-top: 1em;" }
    = f.submit

