
.manager-leadsets-index
  %h5
    SQL
    = link_to 'Leadsets', leadsets_path
    (#{Leadset.all.count})
    = link_to raw("<i class='fa fa-plus-square'></i>"), new_leadset_path

  %table#dataTable.display.compact
    %thead
      %tr
        %th &nbsp;
        %th created at
        %th Name
        %th Tag
        %th.company-url Company Url
        %th Location
    %tbody
      - @leadsets.each do |leadset|
        %tr
          %td= check_box_tag leadset.id
          %td= leadset.created_at.strftime("%Y-%m-%d %H:%M")
          %td= link_to leadset.name, leadset_path( leadset )
          %td= leadset.tag
          %td= link_to leadset.company_url, leadset.company_url
          %td= leadset.location
