
.iro-watches-index.padded
  .header
    .title Iro Alerts

  - @alerts.each do |alert|
    = render 'form', alert: alert

  = render 'form', :alert => Iro::Alert.new

  %hr

  .header
    .title Get chains

  %ul
    - @option_get_chains.each do |item|
      %li
        = item.ticker
        -# = link_to item.ticker, iro_max_pain_path({ ticker: item.ticker, date: (Time.now.end_of_week - 2.days).strftime('%Y-%m-%d') })
        Max Pain:

        - n = 3
        - ## @TODO: account for holidays _vp_ 2023-08-25
        - day = Time.now.next_week(:friday)
        - n.times do |idx|
          - date = day.strftime('%Y-%m-%d')
          = link_to date, max_pain_path({ ticker: item.ticker, date: date })
          = idx < n-1 ? "," : "."
          - day = day + 7.days

  %h5 New
  = render 'ish_manager/iro_option_gets/form', :item => Iro::OptionGet.new

