
.iro-max-pain.max-width
  .header
    %h2.title max pain for #{@ticker} on #{params[:date]}

  - flag = false
  %ul
    - @all_items.each do |strike_price, item|
      - item.delete( :strike_price )
      %li
        - if item[:call_max_pain] > item[:put_max_pain] && !flag
          - flag = true
          %hr

        <b>#{strike_price}</b>
        = item.inspect

  -#         %li Call pain: #{number_to_currency item[:calls_subtotal], precision: 0}

