
-#
-# scheduled_emails / _form
-#

- url = scheduled_email.persisted? ? scheduled_email_path(scheduled_email.id) : scheduled_emails_path
- interval_opts = [['day', 'day'], ['week', 'week'], ['month', 'month']]

= form_for scheduled_email, url: url, html: { class: "form-mini", style: 'display: none' } do |f|
  .header
    %h5 Schedule an action

  .field
    %label Interval
    = select_tag :interval, options_for_select( interval_opts, selected: scheduled_email[:interval] ), class: [ 'select2' ]
  .field
    %label Template
    = select_tag :template_id, options_for_select( @templates_list, selected: scheduled_email[:template_id] ), class: [ 'select2' ]
  .field
    %label Lead
    = select_tag :lead_id, options_for_select( @leads_list, selected: scheduled_email[:lead_id] ), class: 'select2'

  .actions
    = submit_tag 'Schedule'