
.email-filters-index.max-width
  .header
    %h2.title
      Email Filters (#{@email_filters.length})
      = link_to '[+]', new_email_filter_path

  %table.bordered
    %tr
      %th &nbsp;
      %th &nbsp;
      %th From Regex
      %th Subject Regex
      %th Body Regex
      %th Kind
    - @email_filters.each do |ef|

      %tr
        %td= check_box_tag 'checked'
        %td= link_to '[~]', edit_email_filter_path(ef)
        %td= ef.from_regex
        %td= ef.subject_regex
        %td= ef.body_regex
        %td= ef.kind


