-#
-# ish_manager / office_actions / _form
-#

= form_for office_action, :html => { :multipart => true, class: 'office-actions--form' } do |f|
  .row
    .col-sm-6
      .field
        -# = f.label :map
        -# = f.select :map_id, options_for_select( @maps_list, selected:( newsitem[:map_id] || params[:map_id] ) ), {}, class: 'select2'
    .col-sm-6
      = f.submit :submit

  .row
    .col-sm-12
      An
      .bordered-field
        = f.label :status do
          = f.check_box :status
          %span Active

      .input-field.input-outlined.inline
        = f.select :channel, options_for_select(['email', 'email'])
        -# = f.label :channel

      action
      .input-field.input-outlined.inline
        = f.text_field :match_from, value: 'sync.com'
        = f.label "From", for: :match_from


      Triggers
      <br />

      .input-field.input-outlined.inline
        = f.select :channel, options_for_select(['email', 'email'])

      w/ config
      .input-field.input-outlined.inline
        = f.text_area :channel, value: '{ "template": "20230207-autoresponse" }'

      <br />

      .input-field.input-outlined.inline
        = f.select :channel, options_for_select(['create_lead', 'email'])

      w/ config
      .input-field.input-outlined.inline
        = f.text_area :channel, value: ''

  .row
    .col-sm-6
      .field

      -# .field
      -#   = label_tag :photo
      -#   = file_field_tag :photo
      -# .field
      -#   = f.label :subhead
      -#   = f.text_area :subhead
      -# .field
      -#   = f.label :descr
      -#   = f.text_area :descr, :class => :tinymce

    -# .col-sm-6
    -#   .field
    -#     = f.label :video
    -#     = f.select :video_id, options_for_select( @videos_list, :selected => @newsitem.video_id ), {}, class: 'select2'
    -#   .field
    -#     = f.label :gallery
    -#     = f.select :gallery_id, options_for_select( @galleries_list, :selected => @newsitem.gallery_id ), {}, class: 'select2'
    -#   .field
    -#     = f.label :report
    -#     = f.select :report_id, options_for_select( @reports_list, :selected => @newsitem.report_id ), {}, class: 'select2'


  .row
    .col-sm-6
      .field
        -# = f.label :map
        -# = f.select :map_id, options_for_select( @maps_list, selected:( newsitem[:map_id] || params[:map_id] ) ), {}, class: 'select2'
    .col-sm-6
      = f.submit :submit
