
.office-actions-index.padded

  .header
    %h2.title
      Office Actions
      = link_to '[+]', new_office_action_path

  %table.bordered
    %tr
      %th= check_box_tag 'abba'
      %th
      %th slug
      %th next actions
    - @office_actions.each do |eact|
      %tr
        %td= check_box_tag 'abba'
        %td= link_to '[~]', edit_office_action_path( eact )
        %td
          = link_to eact.slug, office_action_path( eact )
          .em.small= eact.descr
        %td
          %ul
            - eact.ties.map do |next_a|
              %li
                .a= next_a.next_at_exe
                .a
                  - if next_a.next_office_action.slug == eact.slug
                    (same)
                  = next_a.next_office_action.slug

