

.email-templates-index
  %h3 Email Templates
  = render 'ish_manager/email_templates/form', email_template: ::Ish::EmailTemplate.new



  %ul
    - @templates.each do |tmpl|
      %li
        = link_to 'Use', new_email_context_path({ email_template_id: tmpl.id })
        = link_to email_template_path({ id: tmpl }), target: :_blank, class: 'external' do
          View
          %i.fa.fa-external-link
        = tmpl.slug
        = button_to '[x]', email_template_path({ id: tmpl }), method: :delete, :data => { :confirm => 'Are you sure?' }, form_class: 'inline'

