
.email-contexts-index

  .collapse-expand#emailContextsIndex
    %h2.header
      Paginated Email Contexts (aka emails)
      = link_to '+', new_email_context_path
      = link_to 'to-send', notsent_email_contexts_path

    %ul.meta
      %li= params[:type]

  .W0
    = render 'paginate', resource: @email_ctxs, param_name: :email_contexts_page, views_prefix: :ish_manager

    %ul.main
      - @email_ctxs.each do |ctx|
        %li
          - if ctx.sent_at
            \----
          - else
            = link_to '~', edit_email_context_path(ctx)
          = link_to email_context_path(ctx) do
            view
          = ctx.title
          = button_to '[x]', email_context_path(ctx), method: :delete, form_class: :inline, data: { confirm: 'Are you sure?' }
          -# = link_to 'iframe', email_context_iframe_path(ctx), target: :_blank do

          [ <b>tmpl:</b> #{ctx.email_template.slug} ]
          [ <b>To:</b> #{ctx.to_email} ]
          <u>#{ctx.subject}</u>
