
- url = serverhost.new_record? ? serverhosts_path : serverhost_path( serverhost )
.serverhosts--form
  = form_for serverhost, as: :serverhost, url: url do |f|
    .field
      = f.label :name
      = f.text_field :name
    .field
      = f.label :leadset_id
      = f.number_field :leadset_id
    .field
      = f.label :next_port
      = f.number_field :next_port

    .field
      = f.label :ssh_host
      = f.text_field :ssh_host
    .field
      = f.label :ssh_username
      = f.text_field :ssh_username
    .field
      = f.label :ssh_key
      = f.text_field :ssh_key
    .field
      = f.label :nginx_root
      = f.text_field :nginx_root

    .actions
      = f.submit 'Submit'
