
.serverhosts--index
  %h5 Serverhosts (#{serverhosts.length})

  .items
    - serverhosts.each do |s|
      .card.inline-block
        = s.name
        %span.gray= s.id.to_s
        = link_to '[~]', edit_serverhost_path(s)
        %ul
          %li.wco-leadset <b>wco_leadset:</b> #{s.wco_leadset.name} (#{s.wco_leadset.id})
          %li.next_port <b>Next Port:</b> #{s.next_port}
          %li.ssh_host <b>ssh_host:</b> #{s.ssh_host}
          -# %li.ssh_username <b>ssh_username:</b> #{s.ssh_username}
          -# %li.ssh_key <b>ssh_key:</b> #{s.ssh_key}
          %li.nginx_root <b>nginx_root:</b> #{s.nginx_root}
          -# %li.appliances
          -#   = render 'ish_manager/appliances/index', appliances: s.appliances
