
- url ||= galleries_path

= form_for gallery, :url => url do |f|
  .row
    .col-sm-6
      = f.label :name
      = f.text_field :name
    .col-sm-6
      = f.label :galleryname
      = f.text_field :galleryname
      
  .row
    .col-sm-4
      = f.label :site
      = select :gallery, :site_id, @sites_list
    .col-sm-4
      = f.label :city
      = select :gallery, :city_id, @cities_list
    .col-sm-4
      = f.label :venue
      = select :gallery, :venue_id, @venues_list
    .col-sm-4
      = f.label 'Shared with'
      = f.select :shared_profiles, options_for_select( [[nil,nil]]+current_user.profile.friends.map { |f| [ f.email, f.id ] }, :selected => gallery.shared_profiles.map(&:id) ), {}, { :multiple => true }
      
  .row
    .col-sm-3
      = f.check_box :is_public
      = f.label :is_public
    .col-sm-3
      = f.check_box :is_trash
      = f.label :is_trash
    .col-sm-3
      = f.submit 'Submit'
