
- url ||= galleries_path

= form_for gallery, :url => url do |f|
  .row
    .col-sm-12
      = f.label :name
      = f.text_field :name
      = gallery.galleryname
      = f.submit
      
  .row
    .col-sm-4
      = f.label :site
      = select :gallery, :site_id, @sites_list
    .col-sm-4
      = f.label :city
      = select :gallery, :city_id, @cities_list
    .col-sm-4
      = f.label :venue
      = select :gallery, :venue_id, @venues_list
    .col-sm-4
      = f.label :user_proifle
      = select :user_profile, :user_profile_id, @user_profiles_list
      
  .row
    .col-sm-3
      = f.check_box :is_public
      = f.label :is_public
    .col-sm-3
      = f.check_box :is_done
      = f.label :is_done
    .col-sm-3
      = f.check_box :is_trash
      = f.label :is_trash
    .col-sm-3
      = f.check_box :is_feature    
      = f.label :is_feature
    .col-sm-3
      = f.submit 'Submit'
