
-#
-# ish_manager / galleries / _form
-#

- url ||= galleries_path

= form_for gallery, :url => url do |f|
  .row
    .col.s6
      = f.label :name
      = f.text_field :name
    .col.s6
      = f.label :slug
      = f.text_field :slug

  = render 'ish_manager/application/form_nonpublic', f: f, model: gallery


  .row
    = f.label :subhead
    = f.text_area :subhead
  .row
    = f.text_area :descr, class: :tinymce

  .row
    .col.s3
      = f.check_box :is_trash
      = f.label :is_trash
    .col.s3
      = f.check_box :is_done
      = f.label :is_done
    .col.s3
      = f.label :premium_tier
      = f.number_field :premium_tier
    .col.s3
      = f.label :username
      = f.text_field :username
    .col.s3
      = f.submit 'Submit'
