-#
-# ish_manager / galleries / _index.haml
-#

- n_thumbs   ||= 8
- param_name ||= :galleries_page

.galleries--index.-index

  = render 'ish_manager/galleries/menu'

  - if @galleries.length > 0

    - if @galleries.respond_to? :total_pages
      = paginate @galleries, :param_name => param_name, :views_prefix => 'ish_manager'

    .row
      - @galleries.each do |g|
        .col.s6
          .item.panel
            .panel-body
              %h4
                = link_to '[~]', edit_gallery_path( g )
                = link_to g.name, gallery_path(g.slug)
                (#{g.photos.length})
              = render 'meta', item: g
              - if g.photos.length == 0
                = image_missing
              - else
                .thumbnails.flex-row
                  - g.photos.limit( n_thumbs ).each do |photo|
                    = link_to image_tag(photo.photo.url(:thumb), :alt => g.name), gallery_path(g.slug)

    - if @galleries.respond_to? :total_pages
      = paginate @galleries, :param_name => param_name, :views_prefix => 'ish_manager'

  - else
    %h5 No Galleries

