
- galleries = galleries.page( params[:galleries_page] ).per( 10 )

.manager-galleries--index
  .row
    .col-sm-12
      %h2 Galleries (#{galleries.length})

      = paginate galleries, :param_name => :galleries_page, :views_prefix => 'ish_manager'
      %ol
        - galleries.each do |gallery|
          %li
            - gallery.photos.unscoped.where({ :is_trash => false })[0...4].each do |photo|
              .mini= image_tag photo.photo.url( :thumb ), :alt => ''
            .clearfix
            #{link_to gallery.name, gallery_path( gallery )} (#{gallery.photos.unscoped.where({ :is_trash => false }).length})
      = paginate galleries, :param_name => :galleries_page, :views_prefix => 'ish_manager'
  %hr
