
- n_thumbs   ||= 8
- param_name ||= :galleries_page

- if galleries.length > 0
  .galleries--list
    - galleries.each do |g|
      .item
        %h3
          = link_to '[~]', edit_gallery_path( g )
          = link_to g.name, gallery_path(g.galleryname)
        -# = render 'meta', :item => g
        - if g.photos.length == 0
          = image_missing
        - else
          - g.photos.limit( n_thumbs ).each do |photo|
            = link_to image_tag(photo.photo.url(:thumb), :alt => g.name, :class => :thumb ), gallery_path(g.galleryname)
    .c

    = paginate galleries, :param_name => param_name
    
- else
  %h5 No Galleries
