
.galleries--menu

  = link_to 'Galleries', galleries_path
  - if defined?(count)
    (#{count})

  .inline-search
    = form_tag galleries_path, method: :get do
      = text_field_tag :q

  = link_to '[+]', new_gallery_path