
.galleries--meta
  .row
    .large-12.columns
      - if gallery.site
        Site #{link_to "http://#{gallery.site.domain}/#{gallery.site.lang}", site_path(gallery.site)}
        User :: #{gallery.username ? gallery.username.inspect : '<no-user>' }
      - if gallery.city
        City #{link_to gallery.city.name, city_path(gallery.city)}
      - if gallery.venue
        Venue #{link_to gallery.venue.name, venue_path(gallery.venue)}
      - if gallery.is_trash
        = trash_image_tag
