
.row
  .col-xs-12
    .center
      %h2
        #{gallery.name} (#{gallery.photos.length})
        = link_to '[~]', edit_gallery_path( gallery )
        [x]
      galleryname :: #{gallery.galleryname}
      = render 'meta', :gallery => gallery
