
= render 'ish_manager/galleries/menu', count: @galleries.count

%table.bordered.data-table
  %thead
    %tr
      %th Public?
      %th Title
      %th Created At
      %th Actions
  %tbody
    - @galleries.each do |g|
      %tr
        %td= is_public_image_tag( g )
        %td= link_to g.name, gallery_path( g )
        %td= g.created_at.to_s.slice(0, 10)
        %td
          = link_to '[~]', edit_gallery_path( g )
          = link_to '[x]', gallery_path( g ), :method => :delete, :data => { :confirm => 'Are you sure?' }

