
- content_for :title do
  Manager Galleries Index

- content_for :menu do
  - # nothing

= render 'ish_manager/sites/header', :site => @site if @site

.container
  .row
    .col-sm-6
      %h4
        My Galleries (#{@galleries.count})
        = link_to '[+]', new_gallery_path
    .col-sm-6= render 'search'
  .row
    .col-sm-12
      -# = render 'ish_manager/galleries/menu_secondary'
      = render 'ish_manager/galleries/list', :galleries => @galleries, :param_name => :galleries_page
      
.container
  .row
    .col-sm-12
      %h4 Shared with me
      = render 'ish_manager/galleries/list', :galleries => @shared_galleries, :param_name => :shared_galleries_page
