
= render 'title', :gallery => @gallery

.row
  %ul
    - @photos.each do |photo|
      %li.col-xs-1= image_tag photo.photo.url( :mini ), :alt => ''

.spacer{ :style => 'height: 500px' }

.row
  %ul
    - @photos.each do |photo|
      %li.col-xs-2
        = link_to '[x]', photo_path( :id => photo.id ), :method => :delete, :confirm => 'Are you sure?'
        %br
        = image_tag photo.photo.url( :thumb ), :alt => ''
        
.spacer{ :style => 'height: 500px' }
        
.center
  %ol
    - @photos.each do |photo|
      %li.item
        = image_tag photo.photo.url( :large ), :alt => ''
