
= render 'title', :gallery => @gallery

.row
  %ul
    - @photos.each do |photo|
      %li.col-xs-1= image_tag photo.photo.url( :mini ), :alt => ''

.spacer{ :style => 'height: 500px' }

.row
  .a
    - @photos.each do |photo|
      .col-xs-4
        = button_to '[x]', photo_path( :id => photo.id ), :method => :delete, :confirm => 'Are you sure?'
        %br
        = image_tag photo.photo.url( :thumb ), :alt => ''
        
.spacer{ :style => 'height: 100px' }
        
.center.large-photos
  - @photos.each do |photo|
    .item
      = image_tag photo.photo.url( :large ), :alt => ''
      %br
      %br
