
.appliances--index
  %h5 Appliances (#{appliances.length})
  - if appliances.present?
    %ul.items
      - appliances.each do |i|
        %li
          %ul
            %li.name <b>name:</b> #{i.name} #{link_to '[~]', edit_appliance_path(i)}
            %li.kind <b>kind:</b> #{i.kind}
            %li.leadset_id <b>leadset_id:</b> #{i.leadset_id}

            %li.serverhost
              <b>serverhost:</b>
              - if i.serverhost
                #{ link_to i.serverhost.name, serverhost_path(i.serverhost) }
              - else
                <no-serverhost>
            %li.host <b>host:</b> #{i.host}

