
%h1 Ally / Home

= form_tag nil, :class => 'form-inline well' do
  .form-group
    %select
      %option{ :value => "Email Me" } Email Me
      %option{ :value => "Do Nothing" } Do Nothing
  .form-group
    %label.control-label When
    = text_field_tag :ticker, 'NFLX', :class => 'form-control'
  .form-group
    %label.control-label Price
    = select_tag :direction, options_for_select([ ['rises above', nil], ['falls below', nil] ])
  .form-group
    %label.control-label $
    = number_field_tag :price, 99.99
  .form-group
    = button_tag ">", :class => %w(btn blue)
