
-# ish_manager / tags / show

- content_for :title do
  Tag #{@tag.name}

.row
  .col.s12
    = render 'meta', tag: @tag
    .descr= @tag.descr # I don't wanna show this every time to everyone, they know what they are here for.
    = render 'ish_manager/features/index', :features => @tag.features[0, Tag.n_features], resource: @tag

- proc do # nothing
  .row
    .col.s12
      = render 'ish_manager/newsitems/index', :newsitems => @tag.newsitems, :resource => @tag, :tag => @tag

.row
  .col.s12
    = render 'ish_manager/reports/index', :reports => @tag.reports, :n_ads => 0

.row
  .col.s12
    = render 'ish_manager/galleries/index_title', :galleries => @galleries, :n_thumbs => 4

.row
  .col.s12
    = render 'ish_manager/videos/index_title', :videos => @videos
