
.appliance-tmpls-index.max-width
  %h5 Appliance Templates
  %hr

  %ul
    - @appliance_tmpls.each do |i|
      %li
        %span.gray= i.id.to_s
        = link_to '[~]', edit_appliance_tmpl_path( i )
        %ul
          - i.attributes.each do |k, v|
            - next if %| _id created_at updated_at |.include? k
            %li <b>#{k}:</b> #{v}

  %hr
  = render 'form', :appliance_tmpl => @new_appliance_tmpl