-#
-# ish_manager / newsitems / _form
-#

= form_for newsitem, :html => { :multipart => true } do |f|
  .row

    .col.s6
      .field
        = f.label :name
        = f.text_field :name
      .field
        = f.label :created_at
        = f.text_field :created_at
      .field
        = f.label :descr
        = f.text_area :descr, :class => :tinymce
      .field
        = label_tag :photo
        = file_field_tag :photo

    .col.s6
      .field
        = f.label :map
        = f.select :map_id, options_for_select( @maps_list, selected:( newsitem[:map_id] || params[:map_id] ) )
      .field
        = f.label :site
        = f.select :site_id, options_for_select( @sites_list, :selected => ( newsitem[:site_id] || params[:site_id] ) )
      .field
        = f.label :city
        = f.select :city_id, options_for_select( @cities_list, :selected => ( newsitem[:city_id] || params[:city_id] ) )
      -# @TODO: tags must be multi-select, not 1x1
      .field
        = f.label :user_profile
        = f.select :user_profile_id, options_for_select( @user_profiles_list, selected: ( newsitem[:user_profile_id] || params[:user_profile_id] ) )


  %hr
  .row
    .col.s6
      .field
        = f.label :video
        = f.select :video_id, options_for_select( @videos_list, :selected => @newsitem.video_id )
      .field
        = f.label :gallery
        = f.select :gallery_id, options_for_select( @galleries_list, :selected => @newsitem.gallery_id )
      .field
        = f.label :report
        = f.select :report_id, options_for_select( @reports_list, :selected => @newsitem.report_id )

    .col.s6
      = f.submit :submit

