
- if defined? site
  - edit_url     = ->(n) { edit_site_newsitem_path( site, n ) }
  - delete_url   = ->(n) { site_newsitem_path( site, n ) }
  - new_newsitem = new_site_newsitem_path( site.id )
- if defined? city
  - edit_url     = ->(n) { edit_city_newsitem_path( city, n ) }
  - delete_url   = ->(n) { city_newsitem_path( city, n ) }
  - new_newsitem = new_city_newsitem_path( city.id )
  
- newsitems = newsitems.page( params[:newsitems_page] ).per( 10 )

.manager-newsitems--index
  .row
    .col-sm-12
      %h2 Newsitems (#{newsitems.count}) #{link_to '[+]', new_newsitem }
      = paginate newsitems, :param_name => 'newsitems_page', :views_prefix => 'ish_manager'
      - newsitems.each do |n|
        .panel
          .panel-body
            %ul
              %li
                = link_to '[~]', edit_url.call( n )
                = button_to '[x]', delete_url.call( n ), :method => :delete, :data => { :confirm => 'Are you sure?' }
                Name: #{n.name}
                Desc: #{n.descr}
              %li Report id: #{n.report_id}
              %li Gallery id: #{n.gallery_id}
              - if n.photo
                %li Photo id: #{n.photo.id}
            = render 'ish_manager/newsitems/item', :newsitem => n
  %hr
