
- if defined? site
  - edit_url   = ->(n) { edit_site_newsitem_path( site, n ) }
  - delete_url = ->(n) { site_newsitem_path( site, n ) }
- if defined? city
  - edit_url   = ->(n) { edit_city_newsitem_path( city, n ) }
  - delete_url = ->(n) { city_newsitem_path( city, n ) }

- newsitems = newsitems.page( params[:newsitems_page] ).per( 10 )

.manager-newsitems--index
  .row
    .col-sm-12
      %h2 Newsitems (#{newsitems.count}) #{link_to '[+]', new_site_newsitem_path( site.id )}
      = paginate newsitems, :param_name => 'newsitems_page'
      %ol
        - newsitems.each do |n|
          %li
            %ul
              %li
                = link_to '[~]', edit_url.call( n )
                = link_to '[x]', delete_url.call( n ), :method => :delete, :data => { :confirm => 'Are you sure?' }
                Name: #{n.name}
                Desc: #{n.descr}
              %li Report id: #{n.report_id}
              %li Gallery id: #{n.gallery_id}
            = render 'ish_manager/newsitems/item', :newsitem => n
  %hr
