- n ||= newsitem
.newsitems--item
  -# - if n.profile_id
  -#   = button_to '[x]', profile_newsitem_path(n.profile_id, n.id), method: :delete, data: { confirm: 'Are you sure?' }
  - if !n.photo.blank?
    .Nphoto.panel
      .the-photo
        - if n.photo.gallery.blank?
          = link_to image_tag( n.photo.photo.url(:small) ), n.photo.photo.url(:large), :rel => 'lightbox[newsitem]'
        - else
          = link_to image_tag( n.photo.photo.url(:small) ), gallery_path( n.photo.gallery.galleryname, n.photo.gallery.photos.index(n.photo) ) 
      .meta= render 'ish_manager/photos/meta', :photo => n.photo
        
  - if !n.report.blank?
    .Nreport
      %h3= link_to n.report.name, report_path(n.report.name_seo)
      .meta
        New Report on #{pretty_date n.report.created_at} by #{n.report.username}
      - unless n.report.photo.blank?
        .thumb= link_to image_tag(n.report.photo.photo.url(:thumb), :alt => ''), report_path( n.report.name_seo )
      .subhead= n.report.subhead
      .c
        
  - if !n.gallery.blank?
    .Ngallery

      %h3= link_to n.gallery.name, gallery_path(n.gallery.galleryname, 0)
      .meta 
        #{t('newsitems.gallery', :username => n.gallery.username, :date => pretty_date(n.gallery.created_at))}
        - unless n.gallery.city.blank?
          = t('cities.in')
          = link_to n.gallery.city.name, city_path(n.gallery.city.cityname, :lang => :en)
        - unless n.gallery.tags.blank?
          = t('tags.in')
          - n.gallery.tags do |tag|
            = link_to tag, tag_path(tag.name_seo)
      - unless 0 == n.gallery.photos.length
        - n.gallery.photos.where( :is_trash => false )[0...8].each do |photo|
          = link_to image_tag( photo.photo.url(:thumb), :alt => photo.name ), photo.photo.url(:small), :rel => "lightbox[#{n.gallery.galleryname}]"
      -# .subhead= n.descr
      .c
        
  - if n.video_id
    - video = Video.unscoped.find n.video_id
    .Nvideo
      = link_to video.video.url, video.video.url
      -# %h3= link_to (video.name.blank? ? t('videos.no_title') : video.name), video_path(video.youtube_id)
      = render 'ish_manager/application/meta', :item => video
      = render 'ish_manager/videos/embed_half', :video => video
      .c
        
  - if !n.descr.blank? && n.gallery.blank? && n.report.blank?
    .Ndescr.panel
      .meta= pretty_date n.created_at
      .subhead= simple_format n.descr
      .c
        
