
- url = lead_action.new_record? ? lead_actions_path : lead_action_path( lead_action )
.lead-actions--form
  = form_for lead_action, url: url, as: :lead_action do |f|

    .field
      %label tmpl
      = f.select :lead_action_template, options_for_select( @olats_list, selected: lead_action.tmpl_id ), {}, class: :select2

    .field
      %label lead
      = f.select :lead_id, options_for_select( @leads_list, selected: lead_action.lead_id ), {}, class: :select2

    .field
      %label params
      = f.text_area :params, class: 'large', value: JSON.pretty_generate( JSON.parse( lead_action.params ))

    .actions
      = f.submit 'Submit'
