-#
-# ish_manager / maps / _form
-#

- url = params[:action] == 'new' ? maps_path : map_path(@map)

= form_for @map, url: url do |f|
  - if @map.errors.any?
    #error_explanation
      %h2= "#{pluralize(@map.errors.count, "error")} prohibited this map from being saved:"
      %ul
        - @map.errors.full_messages.each do |message|
          %li= message

  .row
    .col-md-3
      .field
        = f.label :name
        = f.text_field :name
      .field
        = f.label :map_slug, "Map slug (if any)"
        = f.text_field :map_slug
    .col-md-3
      .field
        = f.label :slug
        = f.text_field :slug
      .field
        = f.label :parent_slug
        = f.text_field :parent_slug


    .col-md-2
      .field
        = f.label :w
        = f.number_field :w
      .field
        = f.label :h
        = f.number_field :h

  .field
    = f.label :description
    = f.text_area :description, class: 'tinymce'

  .field
    = f.label :img_path
    = f.text_field :img_path
  .row
    .col-md-4
      .field
        = f.label :ordering_type
        = select_tag :ordering_type, options_for_select(::Gameui::Map::ORDERING_TYPES)
  .actions
    = f.submit 'Save'
