-#
-# ish_manager / maps / index.haml
-#

.maps-index.padded
  .header
    %h1.title
      Maps (#{@maps.length})
      = link_to '[+]', new_map_path

  .red-border
    = form_tag import_map_path, :multipart => true do
      = file_field_tag :input
      .a
        = label_tag :delete_existing
        = check_box_tag :delete_existing
      = submit_tag 'Import Map'

  .collapse-expand#collapseExpandMapsIndex Maps
  .a
    - @maps.each do |map|
      = render 'index_item', map: map

  .collapse-expand#collapseExpandMapsIndex2 All Maps (#{@all_maps.length})
  %ul
    - @all_maps.each do |m|
      %li
        = link_to m.slug, map_path(m.id)
        = link_to '[~]', edit_map_path(m.id)
