-#
-# ish_manager / maps / index.haml
-#

.maps-index
  %h1
    Maps (#{@maps.length})
    = link_to '[+]', new_map_path

  .red-border
    = form_tag import_map_path, :multipart => true do
      = file_field_tag :input
      .a
        = label_tag :delete_existing
        = check_box_tag :delete_existing
      = submit_tag 'Import Map'

  - @maps.each do |map|
    = render 'index_item', map: map


  %h1 All Maps (#{@all_maps.length})
  %ul
    - @all_maps.each do |m|
      %li
        = link_to m.slug, map_path(m.id)
        = link_to '[~]', edit_map_path(m.id)
