
.maps-map-editor.max-width
  = render 'map_meta_row', map: @map
  %h1 Map Editor

  .map-editor
    = image_tag @map.image.image.url(:original)
    - @markers.each do |m|
      .marker{ data: { 'center-offset-x': m.centerOffsetX, 'center-offset-y': m.centerOffsetY }, style: "top: #{m.y-m.centerOffsetY}px; left: #{m.x-m.centerOffsetX}px;" }
        = image_tag m.image ? m.image.image.url(:original) : image_missing
        = image_tag('icons/10x10_red-cross.png', class: 'red-cross', style: "top: #{m.centerOffsetY-10}px; left: #{m.centerOffsetX-10}px;" )

  = render 'ish_manager/markers/index', markers: @markers, map: @map

