-#
-# ish_manager / maps / show.haml
-#

.maps-show.max-width
  = render 'map_meta_row', map: @map
  %hr

  .collapse-expand#mapDescription Description
  .descr= raw @map.description

  .collapse-expand#mapPanel
    The Map (#{@map.w}x#{@map.h})
    = link_to 'Map Editor', location_map_editor_path(@map.id)
  .the-map
    = image_tag @map.image.image.url(:original) rescue nil
    - @markers.each do |marker|
      -# @TODO: this should be a partial
      .marker{ style: "position: absolute; left: #{marker.x - marker.centerOffsetX}px; top: #{marker.y - marker.centerOffsetY}px;" }
        - if marker.image
          = image_tag marker.image.image.url(:original)
        - else
          = image_missing_tag

  .collapse-expand#markersIndex
    = render 'ish_manager/markers/header', markers: @markers, map: @map
  = render 'ish_manager/markers/index', markers: @markers, map: @map

  .collapse-expand#newsitemsIndex
    = render 'ish_manager/newsitems/header', newsitems: @map.newsitems
  = render 'ish_manager/newsitems/index', newsitems: @map.newsitems

  .collapse-expand#mapChildrenMaps
    Child Maps lvl-1 (#{@maps.count})
  .maps-list
    - @maps.each do |m|
      .item
        = link_to m.slug, edit_map_path(m.id)

  .collapse-expand#mapChildren All Child Maps
  = render 'index_item', map: @map

  .collapse-expand#mapEdit Edit this map
  = render 'form'


