-#
-# ish_manager / user_profiles / _form
-#

- url = profile.persisted? ? profile_path( profile.id ) : profiles_path

.row
  .col.s6
    = form_for profile, :html => { :multipart => true }, :as => :profile, :url => url do |f|
      .input-field
        %label name
        = f.text_field :name

      .input-field
        %label email
        = f.text_field :email

      .input-field
        %label Change profile pic
        %br
        = file_field_tag :photo
        = image_tag profile.profile_photo.photo.url(:thumb) rescue nil
        %br
        %br

      .input-field
        = f.select :role_name, options_for_select( [[nil, nil]] + IshModels::UserProfile::ROLES.map { |r| [ r, r ] }, :selected => profile.role_name )
        %label role name

      .input-field
        = f.select :current_city, options_for_select( @cities_list, :selected => profile.current_city_id )
        %label City

      .input-field
        = f.label :fb_access_token
        = f.text_field :fb_access_token
      .input-field
        = f.label :fb_long_access_token
        = f.text_field :fb_long_access_token

      .input-field
        = f.select :bookmarked_location_ids, options_for_select( @locations_list, selected: profile.bookmarked_location_ids), {}, { multiple: true }
        %label Bookmarked Locations

      = f.submit 'Save', :class => %w(button)


