
.user-profiles-show.max-width
  .header
    %h2.title Profile #{@profile.email}

  .newsitems
    .title Newsitems (#{@profile.newsitems.length})
    - @profile.newsitems.each do |newsitem|
      = render 'ish_manager/newsitems/show', newsitem: newsitem

  .premium-purchases
    Payments (purchased items) (#{@profile.payments.length}):
    - @profile.payments.each do |payment|
      .Card.item
        = payment
