
.user-profiles-show.max-width
  .header
    %h2.title Profile #{@profile.email}

  .newsitems
    .title Newsitems (#{@profile.newsitems.length})
    - @profile.newsitems.each do |newsitem|
      = render 'ish_manager/newsitems/show', newsitem: newsitem

  .premium-purchases
    Purchased Items (#{@profile.premium_purchases.length}):
    - @profile.premium_purchases.each do |purchase|
      .Card.item
        = purchase.item_type.constantize.find(purchase.item_id).inspect
