!!!
%html
  %head
    %title Ish manager
    = stylesheet_link_tag    "ish_manager/application", media: "all"
    = javascript_include_tag "ish_manager/application"
    = csrf_meta_tags
  %body
    = render :partial => 'ish_manager/application/main_header'
    %p.notice= notice
    %p.alert= alert
    .container
      = yield
    = render :partial => 'ish_manager/application/main_footer'
