
- url = stock_options_path if !stock_option.persisted? 
- url = stock_options_path( stock_option ) if stock_option.persisted?

- if stock_option.profile
  Belongs to #{stock_option.profile.email}
= form_for stock_option, :url => url, :html => { :class => 'form-inline well' } do |f|
  .form-group
    = f.text_field :ticker, :class => 'form-control', :placeholder => 'ticker'
  .form-group
    = f.text_field :expires_on, :class => 'form-control', :placeholder => 'YYYYMMDD' # :placeholder => 'MON(TH) DD YYYY'
  .form-group
    %label.control-label $
    = f.number_field :strike, :step => 0.01, :class => 'form-control', :placeholder => '0.01'
  .form-group
    %label.control-label CALL/PUT?
    = f.select :action, options_for_select( Ish::StockOption::ACTIONS.map{|d|[d,d]}, :selected => stock_option.action )
  .form-group
    %label.control-label quantity:
    = f.number_field :quantity, :placeholder => 0
  .form-group
    = f.submit ">", :class => %w(btn blue)
